html, body {
    background-color: #fff;
    color: #6d7579;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin: 0;
}
btn:focus {outline:0 !important;}

.col-inner {
    max-width: 400px;
    border: 1px solid #ece9e9;
    margin: 20px auto 0;
    position: relative;
    text-align: center;
}
.OT_publisher {
    display: none !important;
}
.col-inner:hover {
    box-shadow: 0px 0px 12px #c7c7c7
}
#callBox > div:nth-child(3){
    position: absolute;
    left: 0;
    top: 0;
}
#callBox {
    height: 300px;
    /*background: url("/imgs/caller.jpg");*/
    /*background-position: center center;*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
}
#callModal .modal-body{
    padding: 0;
}
h4 {
    padding: 10px;
}
.list-image img{
    width: 100%;
}
.fa-headphones,
.fa-video {
    font-size: 40px;
    color: #4cae4c;
}
.loader {
    position: absolute;
    left: 0;right: 0;
    top: 0;bottom: 0;
    margin: auto;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
